body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

section {
    scroll-margin-top: 5rem;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill-1 {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#ripple {
    position: relative;
    overflow: hidden;
}

#ripple::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
}

#ripple:hover::before {
    animation: ripple 1s ease-out;
}

/* Animation */
@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}