body {
    font-family: 'Manrope', sans-serif;
}

.grid-pattern {
    background-image: radial-gradient(#001f3d 0.5px, transparent 0.5px);
    background-size: 24px 24px;
    opacity: 0.05;
}


#ripple {
    position: relative;
    overflow: hidden;
}

#ripple::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
}

#ripple:hover::before {
    animation: ripple 1s ease-out;
}

/* Animation */
@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}